|<script type="text/ng-template" id="AccountIDPopup.html">
|    <form name="AccountIDPopUp">
|    <div class="modal-header">
|        <h3>New account {{ invalidItem.code }}</h3>
|    </div>
|    <div class="modal-body">
|                <!-- Only for account code default the placeholder (the original code provided) -->
|                Account Code: <input type=text class="form-control" placeholder="{{ invalidItem.code }}" ng-init="invalidItem.data.code" value="{{ invalidItem.code }}" " ng-model="invalidItem.data.code">
|                Account Name: <input type=text class="form-control" placeholder="{{ invalidItem.data.Name }}" ng-model="invalidItem.data.Name">
|                Address 1: <input type=text class="form-control" placeholder="{{ invalidItem.data.Address1 }}" ng-model="invalidItem.data.Address1">
|                Address 2: <input type=text class="form-control" placeholder="{{ invalidItem.data.Address2 }}" ng-model="invalidItem.data.Address2">
|                City: <input type=text class="form-control" placeholder="{{ invalidItem.data.City }}" ng-model="invalidItem.data.City">
|                County: <input type=text class="form-control" placeholder="{{ invalidItem.data.County_State }}" ng-model="invalidItem.data.County_State">
|                Post Code: <input type=text class="form-control" placeholder="{{ invalidItem.data.PostCode }}" ng-model="invalidItem.data.PostCode">
|                Country: <input type=text class="form-control" placeholder="{{ invalidItem.data.Country }}" ng-model="invalidItem.data.Country">
|                CurrencyCode: <input type=text class="form-control" placeholder="{{ invalidItem.data.CurrencyCode ? CurrencyCode : getDefaultsResult.CurrencyCode }}" ng-model="invalidItem.data.CurrencyCode">
|                Bank Account Code: <input type=text class="form-control" placeholder="{{ getDefaultsResult.BankAccountCode }}" ng-model="invalidItem.data.BankAccountCode">
|                Control (GL) Account Code: <input type=text class="form-control" placeholder="{{ getDefaultsResult.ControlGLAccountCode }}" ng-model="invalidItem.data.ControlGLAccountCode">
|                Credit Terms (ID): <input type=text class="form-control" placeholder="{{ getDefaultsResult.CreditTermID }}" ng-model="invalidItem.data.CreditTermID">
|                GL Account Code: <input type=text class="form-control" placeholder="{{ getDefaultsResult.DefaultGLAccountCode }}" ng-model="invalidItem.data.DefaultGLAccountCode">
|                Tax Code: <input type=text class="form-control" placeholder="{{ getDefaultsResult.DefaultTaxCode }}" ng-model="invalidItem.data.DefaultTaxCode">
|    </div>
|    <div class="modal-footer">
|        <button class="btn btn-primary" ng-click="getDefaults('AccountID')">Shown/Edit Default Settings</button>
|        <button class="btn btn-primary" ng-show="invalidItem.getFromApi" ng-click="getDetails({ 'type':'getCustomer','apiId': invalidItem.code })">Fetch From API</button>
|        <button class="btn btn-primary" ng-click="ok()">OK</button>
|        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
|    </div>
|    </form>
|</script>
