|<script type="text/ng-template" id="DepartmentIDPopup.html">
|    <form name="DepartmentIDPopUp">
|    <div class="modal-header">
|        <h3>New Department {{ invalidItem.code }}</h3>
|    </div>
|    <div class="modal-body">
|                Department Code: <input type=text class="form-control" placeholder="{{ invalidItem.code }}" ng-init="invalidItem.data.code" value="{{ invalidItem.code }}" ng-model="invalidItem.data.code">
|                Description: <input type=text class="form-control" placeholder="{{ invalidItem.data.description }}" ng-model="invalidItem.data.description">
|                Analysis Code 1: <input type=text class="form-control" placeholder="{{ invalidItem.data.analysisCode1 }}" ng-model="invalidItem.data.analysisCode1">
|                Analysis Code 2: <input type=text class="form-control" placeholder="{{ invalidItem.data.analysisCode2 }}" ng-model="invalidItem.data.analysisCode2">
|                Analysis Code 3: <input type=text class="form-control" placeholder="{{ invalidItem.data.analysisCode3 }}" ng-model="invalidItem.data.analysisCode3">
|                Analysis Code 4: <input type=text class="form-control" placeholder="{{ invalidItem.data.analysisCode4 }}" ng-model="invalidItem.data.analysisCode4">
|                Analysis Code 5: <input type=text class="form-control" placeholder="{{ invalidItem.data.analysisCode5 }}" ng-model="invalidItem.data.analysisCode5">
|                Analysis Code 6: <input type=text class="form-control" placeholder="{{ invalidItem.data.analysisCode6 }}" ng-model="invalidItem.data.analysisCode6">
|    </div>
|    <div class="modal-footer">
|        <!-- NO DEFAULTS AVAILABLE FOR DEPARTMENTS SO COMMENT OUT BUTTON -->
|        <!-- <button class="btn btn-primary" ng-click="getDefaults('DepartmentID')">Shown/Edit Default Settings</button> -->
|        <button class="btn btn-primary" ng-show="invalidItem.getFromApi" ng-click="getDetails({ 'type':'getCustomer','apiId': invalidItem.code })">Fetch From API</button>
|        <button class="btn btn-primary" ng-click="ok()">OK</button>
|        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
|    </div>
|    </form>
|</script>
